Repository Parsifal-M/backstage-opa-plugins, changes with the labels that .github/labeler.yml gives for each.
All labels: opa-backend, opa-entity-checker, opa-policies, opa-permissions-wrapper, opa-authz, opa-authz-react, cicd, documentation

.github/labeler.yml:

opa-backend:
  - changed-files:
      - any-glob-to-any-file: ['plugins/backstage-opa-backend/**/*']

opa-entity-checker:
  - changed-files:
      - any-glob-to-any-file: ['plugins/backstage-opa-entity-checker/**/*']

opa-policies:
  - changed-files:
      - any-glob-to-any-file: ['plugins/backstage-opa-policies/**/*']

opa-permissions-wrapper:
  - changed-files:
      - any-glob-to-any-file:
          ['plugins/permissions-backend-module-opa-wrapper/**/*']

opa-authz:
  - changed-files:
      - any-glob-to-any-file:
          ['packages/opa-authz/**/*']

opa-authz-react:
  - changed-files:
      - any-glob-to-any-file:
          ['plugins/opa-authz-react/**/*']

cicd:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**/*']

documentation:
  - changed-files:
      - any-glob-to-any-file: ['docs/**/*', 'README.md', '**/README.md']

adds an example plugin that uses the opa-authz-react
  docker-compose.yaml
  package.json
  packages/app/package.json
  packages/app/src/App.tsx
  packages/app/src/components/Root/Root.tsx
  plugins/backstage-opa-backend/src/plugin.ts
  plugins/backstage-opa-backend/src/service/router.ts
  plugins/backstage-opa-backend/src/service/routers/authz.ts
  plugins/opa-authz-react/package.json
  plugins/opa-authz-react/src/hooks/useOpaAuthz/useOpaAuthz.test.ts
  plugins/opa-authz-react/src/hooks/useOpaAuthz/useOpaAuthz.ts
  plugins/opa-frontend-demo/.eslintrc.js
  plugins/opa-frontend-demo/README.md
  plugins/opa-frontend-demo/dev/index.tsx
  plugins/opa-frontend-demo/package.json
  plugins/opa-frontend-demo/src/components/ExampleComponent/ExampleComponent.test.tsx
  plugins/opa-frontend-demo/src/components/ExampleComponent/ExampleComponent.tsx
  plugins/opa-frontend-demo/src/components/ExampleComponent/index.ts
  plugins/opa-frontend-demo/src/components/ExampleFetchComponent/ExampleFetchComponent.test.tsx
  plugins/opa-frontend-demo/src/components/ExampleFetchComponent/ExampleFetchComponent.tsx
  plugins/opa-frontend-demo/src/components/ExampleFetchComponent/index.ts
  plugins/opa-frontend-demo/src/index.ts
  plugins/opa-frontend-demo/src/plugin.test.ts
  plugins/opa-frontend-demo/src/plugin.ts
  plugins/opa-frontend-demo/src/routes.ts
  plugins/opa-frontend-demo/src/setupTests.ts
  policies/authz.rego
  policies/opa_demo.rego
  policies/rbac_policy.rego
  yarn.lock
Labels: opa-backend, opa-authz-react, documentation

adds an example plugin that uses the opa-authz-react
  packages/app/src/components/Root/Root.tsx
  plugins/backstage-opa-backend/src/service/routers/authz.ts
  plugins/opa-authz-react/src/hooks/useOpaAuthz/useOpaAuthz.test.ts
  plugins/opa-frontend-demo/README.md
  plugins/opa-frontend-demo/src/components/ExampleComponent/ExampleComponent.test.tsx
  plugins/opa-frontend-demo/src/components/ExampleComponent/ExampleComponent.tsx
  plugins/opa-frontend-demo/src/components/ExampleFetchComponent/ExampleFetchComponent.tsx
Labels: opa-backend, opa-authz-react, documentation

correct workspace in demo package file
  plugins/opa-frontend-demo/package.json
Labels: none

yarn fix
  plugins/opa-frontend-demo/package.json
  yarn.lock
Labels: none

fix tests
  package.json
  plugins/backstage-opa-backend/src/service/router.test.ts
  plugins/backstage-opa-backend/src/service/routers/authz.test.ts
  plugins/backstage-opa-backend/src/service/routers/authz.ts
  plugins/backstage-opa-entity-checker/src/components/OpaMetadataAnalysisCard/OpaMetadataAnalysisCard.test.tsx
  plugins/backstage-opa-policies/src/components/OpaPolicyComponent/OpaPolicyComponent.test.tsx
Labels: opa-backend, opa-entity-checker, opa-policies

prettier
  plugins/backstage-opa-backend/src/service/routers/authz.test.ts
Labels: opa-backend
